body {
    background-color: rgb(96, 139, 139);
    color: aliceblue;
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
a{
    color: rgb(21, 54, 48);
    text-decoration: none;
    border-bottom: 3px double;
}
h1{
    font-size: 76px;
    font-weight: normal;
 }
.city-wrapper{
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: rgb(85, 130, 130);
}

.container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100%;
}

p {
    font-size: 15px;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    font-size: 50;
}

.city-wrapper {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.city-img {
    width: 50%;
}

.city-text {
    width: 50%;
}
